# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Ll]og/
[Tt]mp/
/x64/

# Visual Studio cache files
ipch/
*.aps
*.cachefile
*.opendb
*.opensdf
*.user
*.sdf
*.suo
*.db
.vs/

# Temporary OS files
.DS_Store
Thumbs.db

# NuGet stuff
[Pp]ackages/
packages.config

*.log
*.exe

# Temp
*.TMP
doc/changelog.pdf
Gears/GitInfo.h
